**/*.js
!webpack.config.js
**/*.js.map
**/*.d.ts
!declarations.d.ts
offlineServiceWorker.js
!Scripts/typings/**/*.d.ts
Scripts/typings/monaco
/CrnApp
Content/
node_modules/
bower_components/
vs/
Scripts/CodeEditor
Scripts/MSAGL
Scripts/CRN
Scripts/CrnApp
Scripts/KnockoutGrid
Scripts/SimulationViewer
Scripts/InferenceViewer
Scripts/CRNEngine
Scripts/IDD
