<div class="c-code-editor"></div>
<div class="c-cpdialog" title="Copy/paste operations">
    <div style="text-align: center;">
        <p>This operation is not allowed in your browser. You can use this combinations:</p>
        <div class="c-cpdialog__info">
            <span class="c-cpdialog__chord">Ctrl+C</span>
            <br /> to copy
        </div>
        <div class="c-cpdialog__info">
            <span class="c-cpdialog__chord">Ctrl+X</span>
            <br /> to cut
        </div>
        <div class="c-cpdialog__info">
            <span class="c-cpdialog__chord">Ctrl+V</span>
            <br /> to paste
        </div>
    </div>
</div>