<h4 class="c-settings__group-header">DSD:</h4>
<div class="c-settings__one">
    <div class="c-settings__header">Compilation:</div>
    <select class="c-settings__value--long" type="text" data-bind="value: Rules, options: RulesSelect"></select>
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Leaks:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: Leaks" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Pin leaks:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: PinLeaks" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Polymers:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: Polymers" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Unproductive:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: Unproductive" />
</div>
<!--<div class="c-settings__one">
    <div class="c-settings__header">SequenceRates:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: SequenceRates" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Temperature:</div>
    <input class="c-settings__value" type="number" data-bind="value: Temperature" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Stability correction:</div>
    <input class="c-settings__value" type="number" data-bind="value: StabilityCorrection" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Coaxial dangle:</div>
    <input class="c-settings__value" type="number" data-bind="value: CoaxialDangle" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Double coaxial dangle:</div>
    <input class="c-settings__value" type="number" data-bind="value: DoubleCoaxialDangle" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Terminal dangle factor:</div>
    <input class="c-settings__value" type="number" data-bind="value: TerminalDangleFactor" />
</div>-->
<div class="c-settings__one">
    <div class="c-settings__header">Declare domains:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: DeclareDomains" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Check DNA:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: CheckDNA" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Colour toeholds:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: ColourToeholds" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Plot names:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: PlotNames" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Toehold bind rate:</div>
    <input class="c-settings__value" type="number" data-bind="value: ToeholdBindRate" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Toehold unbind rate:</div>
    <input class="c-settings__value" type="number" data-bind="value: ToeholdUnbindRate" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Toehold length:</div>
    <input class="c-settings__value" type="number" data-bind="value: ToeholdLength" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Specificity length:</div>
    <input class="c-settings__value" type="number" data-bind="value: SpecificityLength" />
</div>
<div class="c-settings__one">
    <div class="c-settings__header">Generate predicates:</div>
    <select class="c-settings__value--long" type="text" data-bind="value: GeneratePredicates, options: GeneratePredicatesSelect"></select>
</div>
<!--<div class="c-settings__one">
    <div class="c-settings__header">Render mode:</div>
    <select class="c-settings__value--long" type="text" data-bind="value: RenderMode, options: RenderModeSelect"></select>
</div>-->
<div class="c-settings__one">
    <div class="c-settings__header">JIT:</div>
    <input class="c-settings__value--checkbox" type="checkbox" data-bind="checked: IsJIT, enable: owner.settings.SSAMethodSelected" />
</div>
