Scripts/**/*.js
Scripts/**/*.js.map
Scripts/**/*.d.ts
Tests/**/*.js
Tests/**/*.js.map
Tests/**/*.d.ts

#residual files from before webpack
lib
Scripts/CodeEditor
Scripts/CRN
Scripts/CrnApp
Scripts/CRNEngine
Scripts/DsdGeneric
Scripts/IDD
Scripts/InferenceViewer
Scripts/MSAGL
Scripts/SimulationViewer